[submodule "extern/zlib"]
    path = extern/zlib
    url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "extern/curl"]
    path = extern/curl
    url = https://github.com/curl/curl.git
[submodule "extern/SDL2"]
    path = extern/SDL2
    url = https://github.com/spurious/SDL-mirror.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/tinyobjloader-c"]
	path = extern/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/glslang"]
	path = extern/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft.git
