.config*
.q2pro/
.q2proded/
.baseq2/
q2rtx
q2rtxded
game*.so
*.swp
build*/
shader_vkpt
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
.vs
*.dll
*.so
*.log
music/
*.sublime-*

*.bin
*.bsp
*.cin
*.dds
*.dm2
*.jpg
*.md2
*.md3
*.iqm
*.pak
*.pcx
*.pkz
*.png
*.sp2
*.tga
*.tmp
*.wal
*.wav

q2config.cfg
save
*/docs
baseq2/**/*.txt
!baseq2/*.txt
!baseq2/maps/sky/*.txt
!baseq2/pics/flashlight_profile.png
