[submodule "extern/zlib"]
    path = extern/zlib
    url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "extern/curl"]
    path = extern/curl
    url = https://github.com/curl/curl.git
[submodule "extern/SDL2"]
    path = extern/SDL2
    url = https://github.com/spurious/SDL-mirror.git
