#if HAVE_CONFIG_H
#include "config.h"
#endif

#include <windows.h>

#pragma code_page(65001)

#ifdef _DEBUG
#define VER_FILEFLAGS   VS_FF_DEBUG
#else
#define VER_FILEFLAGS   0x0L
#endif

#ifdef _WIN64
#define VER_FILEDESCRIPTION_STR     "Q2PRO baseq2 game module (64-bit)"
#define VER_ORIGINALFILENAME_STR    "gamex86_64.dll"
#else
#define VER_FILEDESCRIPTION_STR     "Q2PRO baseq2 game module"
#define VER_ORIGINALFILENAME_STR    "gamex86.dll"
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     REVISION,0,0,0
    PRODUCTVERSION  REVISION,0,0,0
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEFLAGS       VER_FILEFLAGS
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", "http://skuller.net/q2pro/"
            VALUE "CompanyName", "skuller.net"
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "FileVersion", VERSION
            VALUE "InternalName", "baseq2"
            VALUE "LegalCopyright", "Copyright © 2014 skuller.net"
            VALUE "ProductName", "Q2PRO"
            VALUE "ProductVersion", VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4B0
    END
END

