body { background: #e7e7e7; font-family: sans-serif;}

#content { border: none; text-align: justify; max-width: 80ex;}

.header { background: #4b6983; border: none; padding: 10px; margin-bottom: 1em; color: #ffffff;}
.header a { margin-right: 1ex; color: #ffffff;}

