Source: q2pro
Section: contrib/games
Priority: optional
Maintainer: Andrey Nazarov <skuller@skuller.ath.cx>
Build-Depends: cdbs, debhelper (>= 7), libx11-dev, libsdl1.2-dev,
 libpng12-dev, libjpeg62-dev, zlib1g-dev, mesa-common-dev
Standards-Version: 3.8.1
Homepage: http://skuller.ath.cx/q2pro/

Package: q2pro-client
Architecture: any
Depends: ${shlibs:Depends}, q2pro-common (= ${binary:Version})
Description: Enhanced Quake 2 engine (graphical client)
 Q2PRO is a Quake 2 engine modification designed for online play,
 fully compatible with original Quake 2 clients and servers.
 .
 Q2PRO features enhanced graphical console, support for JPEG/PNG textures
 and MD3 models, network protocol optimizations, freely resizable main window,
 increased security and overall performance, basic built-in demo editing
 capabilities, built-in server and demo browsers.
 .
 This version of Q2PRO requires a 3D graphics accelerator to play.

Package: q2pro-server
Architecture: any
Depends: ${shlibs:Depends}, q2pro-common (= ${binary:Version})
Description: Enhanced Quake 2 engine (dedicated server)
 Q2PRO is a Quake 2 engine modification designed for online play,
 fully compatible with original Quake 2 clients and servers.
 .
 Q2PRO dedicated server features multi-view demo recording capabilities,
 game television support, network protocol optimizations, increased security
 and overall performance.
 .
 This package contains streamlined server executable, with all client side
 code stripped out. Use it for hosting Quake 2 servers.

Package: q2pro-common
Architecture: any
Depends: ${shlibs:Depends}
Description: Enhanced Quake 2 engine (common files)
 This package contains files common between Q2PRO server and client.
 .
 Base Quake 2 game library is included in this package. It provides
 the single player campaign and also features cooperative mode
 and a very simple deathmatch mode.
